<div class="card-trip justify-content-center">
  <%= cl_image_tag @lifestyle.photo %>

  <div class="p-3">
    <div class="card-trip-infos">
      <div class="life-description">
        <h1><%= @lifestyle.name %></h1>
      </div>
      <div class="life-owner">
        <h2>Life owner: <strong><%= @lifestyle.user.first_name %> <%= @lifestyle.user.last_name %></strong></h2>
      </div>
      <img src= "<%= @lifestyle.user.photo %>" class="card-trip-user avatar-bordered p-abs" />
    </div>
    <p class="description"><%= @lifestyle.description %></p>
    <h2 id="card-trip-pricing"><%= "Price: $#{@lifestyle.price}/day" %></h2>
    <%=link_to "Rent Now", new_lifestyle_booking_path(@lifestyle), class:"btn btn-primary" %>
    <%= link_to "Back to Lifestyles", lifestyles_path, class: "btn btn-info" %>
  </div>
</div>

<h2 class="text-center">Reviews</h2>
  <% @lifestyle.reviews.each do |review| %>
    <div class="review-container">
      <p class="review"><i class="fas fa-quote-left"></i> <%= review.comment %> <i class="fas fa-quote-right"></i></p>
    </div>
  <% end %>

<div class="reviews-form">
  <%= render 'reviews/form', lifestyle: @lifestyle, review: @review %>
</div>
